<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.kantaur" version="6" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>KANTAUR</name>
    <description>
      KANTAUR APP
    </description>
    <author email="ivonne@prismacm.com" href="http://app.kantaur.com">
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-targetSdkVersion" value="26" />
    <plugin name="cordova-plugin-console" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-media" source="npm" spec="~2.2.0" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-statusbar" source="npm" spec="~2.1.2" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="10000" />
    <platform name="android">
        <icon density="ldpi" src="res/icon/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="res/icon/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="res/icon/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="res/icon/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="res/icon/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="res/icon/android/drawable-xxxhdpi-icon.png" />
        <splash src="res/res-land-hdpi/screen.png" density="land-hdpi"/>
        <splash src="res/res-land-ldpi/screen.png" density="land-ldpi"/>
        <splash src="res/res-land-mdpi/screen.png" density="land-mdpi"/>
        <splash src="res/res-land-xhdpi/screen.png" density="land-xhdpi"/>
        <splash src="res/res-port-hdpi/screen.png" density="port-hdpi"/>
        <splash src="res/res-port-ldpi/screen.png" density="port-ldpi"/>
        <splash src="res/res-port-mdpi/screen.png" density="port-mdpi"/>
        <splash src="res/res-port-xhdpi/screen.png" density="port-xhdpi"/>
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
</widget>
